*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.logo{
    display: inline-block;
}
.navigator-box{
    border: 2px black solid;
    display: inline-block;
    padding: 20px;
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
    background-color: #d9d2e9ff;
    position: relative;
    left: 1%;
    bottom: 190px;
}
a{
    background-color: #d9d2e9ff;
}
h1{
    background-color: #d9d2e9ff;
}
h1 a{
    padding: 10px 40px;
}
.description-box p{
    color: white;
    font-size: 40px;
    font-family: "Lobster", sans-serif;
    background-color: #98fb98;
    display: inline-block;
    position: relative;
    left: 16%;
    bottom: 150px;
}
.lofi-girl{
    border: transparent solid 1px;
    position: relative;
    bottom: 130px;
    left: 2%;
}
main h2, main p{
    color: white;
    font-size: 60px;
    font-family: 'Lobster', sans-serif;
    position: relative;
    left: 2%;
}
main p{
    color: white;
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
}
.trees{
    position: relative;
    left: 49%;
    bottom: 200px;
}
audio{
    position: relative;
    bottom: 300px;
    left: 2%;
}